/*!
 * Cravious
 * ------
 * author: http://kl-webmedia.com/
 * coder: empanda | roll4@outlook.com;
 * date: 2014 II-V
 * version: 1.0
 */

/*------------------------------------------------------------------
[Table of contents]

CTRL + F To search for e.g. !fonts

1. Fonts !fonts
2. General !general
3. List !list
4. Buttons !buttons
5. Colors !colors
6. Navbar !navbar
7. Header !header
8. Features !features
9. Dropdown !dropdown
10. Sections !section
11. Tabs !tabs
12. Columns !columns
13. Price Tables !price
14. Comments !comments
15. Timeline !timeline
16. Blog !blog
17. Accordion !accordion
18. Footer !footer

-------------------------------------------------------------------*/

/* Fonts !fonts */

@font-face {
    font-family: 'Helvetica New';
    src: url('../fonts/Helvetica CE Regular.ttf');
}

@font-face {
    font-family: 'Helvetica Bold';
    src: url('../fonts/Helvetica CE Bold.ttf');
}

@font-face {
    font-family: 'Varela Round';
    src: url('../fonts/VarelaRound-Regular.otf');
}

/* General !general */

html, body {
	border-top:1px solid #37c6ea;
	margin:0;
	border:0;
	font-family: 'Helvetica New';
	overflow-x:hidden;
}

body {
  font-size: 14px;
  padding-top:135px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

body.static {
	padding-top:121px;
}

.navbar a {
	font-family: 'Helvetica New';
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Varela Round', sans-serif;
	margin:20px 0;
	font-weight: 500;
}

h1.alt, h2.alt, h3.alt, h4.alt, h5.alt, h6.alt {
	font-family: 'Helvetica New', sans-serif;
	font-weight: 600;
	margin:20px 0;
	color:#8997a7;
	text-transform: uppercase;
}

a {
	color:#8997a7;
	font-family:'Varela Round';
	transition:all 0.3s ease;
}
a:hover {
	text-decoration: none;
}
p {
	font-family:'Varela Round';
	color:#8997a7 !important;
	line-height: 25px;
	margin:10px 0;
}

.muted {
	color:#7E8C9B !important;
}

hr {
	border:0;
	width:50px;
	height:6px;
	border-radius:30px;
	transition:all 0.3s ease;
}
.text-left > hr { margin-left:0 !important;}
.text-right > hr { margin-right:0 !important;}

i.fa.small-icon {
	font-size:16px;
}

/* Lists !lists */

ul {
	font-family:'Varela Round';
}



ul.list {
	font-family:'Varela Round';
	color:#8997a7;
	padding:0;
}

ul.list li {
	list-style-type:none;
	margin:20px 0;
	transition:all 0.3s ease;
}

ul.list li:hover {
	color:#22c0e8;
}

ul.list li:before {
	content: ' ';
	display: inline-block;
	width:15px;
	height: 15px;
	margin-right:15px;
	position: relative;
	top:3px;
	border-radius: 50%;
	border:2px solid #22c0e8;
}

ul.dropdown {
	list-style: none;
	padding:0;
	background: white;
	border-radius:5px;
	overflow: hidden;
	position: absolute;
	z-index:1500;
	min-width:150px;
	display: none;
}

ul.dropdown li {
	border-bottom:1px solid #aaa;
}

ul.dropdown li a {
	padding:10px;
	display: block;
	width:100%;
}

ul.social {
	list-style-type:none;
	margin:20px 0;
	padding:0;
}

ul.social > li {
	text-align:left;
	margin:15px 0;
}

/* Buttons !buttons */

.btn {
	margin: 0 10px;
	padding:10px 30px;
	border-radius:30px;
	color:white;
	font-family:'Varela Round';
	transition: all 0.3s ease;
}
.btn-small {
	font-size:12px;
	padding:10px 15px;
}
.btn i {
	font-size:12px;
	margin-left:5px;
}
.btn.read-more {
	position: relative;
	color:#3b3b3b;
	text-transform: lowercase;
	font-family: 'Varela Round';
	overflow: hidden;
	margin:20px 0;
}
.btn.read-more:hover {
	background:#22c0e8;
}
.btn.submit {
	margin:20px 0;
}

.btn:hover { color:white; }

.btn.blue:hover { background:#b72d2d; }
.btn.red:hover { background:#22c0e8; }
.btn.dark-red:hover { background:#22c0e8; }

/* Colors !colors */

.dark-red {
	background: #b72d2d;
}
.red {
	background: #fb4848;
}
.light-gray {
	background: #ececec;
}
.green {
	background:#65be3e;
}
.blue {
	background:#22c0e8;
}
.gray {
	background:#8997a7;
}
.yellow {
	background:#faba20;
}
.blue-color {
	color:#22c0e8 !important;
}
.gray-color {
	color:#8997a7;
}
.dark-gray-color {
	color:#3b3b3b;
}
.white-color {
	color:#fff;
}
.red-color {
	color:#fb4848;
}

/* Customized Navbar Styles !navbar */

.navbar .navbar-top {
	display: block;
	width:100%;
	padding:10px 15px;
}

.navbar .social a {
	margin:0 3px;
	width:30px;
	height: 30px;
	line-height: 30px;
	font-size:15px;
	display: inline-block;
	text-align: center;
	position: relative;
}
.navbar .social a:before {
	content:' ';
	z-index:-1;
	border-radius:50%;
	transition:all 0.15s ease;
	position:absolute;
	width:0; height:0;
	top:50%;
	left:50%;
	background:black;
}
.navbar .social a:hover {
	color:white;
}
.navbar .social a:hover:before { 
	width:100%;
 	height:100%;
 	top:0; left:0;
}
.navbar .social a.facebook:before {background:#3b5998;}
.navbar .social a.twitter:before {background:#55acee;}
.navbar .social a.dribbble:before {background:#ea4c89;}
.navbar .social a.vine:before {background:#00b488;}
.navbar .social a.google-plus:before {background:#dd4b39;}


.navbar input {
	padding:10px 15px;
	margin:0;
}

/* Header */

header {
	width:100%;
	background-size:cover;
}

header .job-form {
	background: rgba(255,66,66,.85);
	color:white;
	position: absolute;
	z-index:100;
	padding:60px 40px;
}
header .job-form .btn {
	position: relative;
	margin:20px 0;
}
header .owl-header .item {
	width:100%;
	width:50%\9;
	position: relative;
	z-index:10;
	height:100%;
	content:' ';
}
form h1, form h2, form h3, form h4, form h5, form h6 {
	margin-bottom:50px;
}

/* Features !features */

.feature {
	overflow: hidden;
	padding:20px 60px;
	transition: all 0.3s ease;
}

.feature:hover {
	background:#e8e8ea;
}

.feature:hover:before {
	width:80px;
	height:80px;
	bottom:-40px;
	right:-40px;
}

.feature:before {
	content:' ';
	background:#22c0e8;
	position: absolute;
	width:70px;
	height:70px;
	z-index:2;
	transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
	bottom:-35px;
	right:-35px;
	transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
}

.small-margin {
	margin:10px 0 !important;
}

/* Dropdowns !dropdown */

a.dropdown-input {
	display: block;
    width: 90%; 
    padding: 10px 20px;
    font-size: 14px;
    color: #999;
    font-family:"Helvetica New";
    background-color: #dcdfe3;
    border: 0;
    border-radius: 30px;
    margin:20px 0;
}
a.dropdown-input:after {
	content:"\f078";
	font-family:"FontAwesome";
	float:right;
}
a.dropdown-input.white {
    background-color: #fff;
}
a.dropdown-input i { font-size:12px; float:right; margin-top:4px;}
.form-control {
    display: block;
    width: 100%;
    padding: 15px 20px;
    font-size: 14px;
    color: #001C49;
    background-color: #dcdfe3;
    border: 0;
    margin:20px 0;
    border-radius: 30px;
}
.form-control.normal {
	background:white;
	border-radius:5px;
	border:1px solid #aaa;
}

.contact-form input, .contact-form textarea {
	padding-left:30px;
}

.contact-form input[name=name] {background:url('../img/inputs/user.png'); background-repeat:no-repeat; background-position:9px 11px;}
.contact-form input[name=email] {background:url('../img/inputs/email.png'); background-repeat:no-repeat; background-position:10px 14px;}
.contact-form input[name=subject] {background:url('../img/inputs/subject.png'); background-repeat:no-repeat; background-position:9px 11px;}
.contact-form textarea[name=message] {background:url('../img/inputs/message.png'); background-repeat:no-repeat; background-position:9px 20px;}

.form-control.white {
    background-color: #fff;
}
.form-control-white:focus {
    outline: 0;
}
.form-control:focus {
    outline: 0;
}

.owl-macbook {
	width:75% !important;
	position: absolute !important;
	top:7%;
	left:12.5%;
}

.owl-macbook .item {
	width:100%;
}

#map {
	margin-top:55px;
	height:250px;
	width:100%;
}

input[type=range] {
    -webkit-appearance: none;
    display:inline-block;
    border: 1px solid white;
    width: 300px;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #dcdfe3;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #a8b4c4;
    margin-top: -4px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

/* Sections !sections */

section {
	padding:40px 0;
	margin:40px 0;
}

section.facts {
	background: #dcdfe3;
	margin:0;
	padding:20px;
	font-family:'Varela Round';
}
section.facts .fact {
	color:#8598b0;
	font-size:16px;
	line-height: 40px;
	height:40px;
}
section.section-alt {
	background: url('../img/section-alt.jpg');
	background-size:cover;
}
section.section-alt1 {
	padding:100px 0 !important;
	background: url('../img/section-alt1.jpg');
	background-size:cover;
}
section.section-alt2 {
	padding:100px 0 !important;
	background: url('../img/bg_alt.png');
	background-size:cover;
}
.row.title {
	margin:0 0 40px 0;
}
.row.title h3 {
	font-weight: 600;
}
.row.title .alt { color:#8997a7; }

/* Tabs !tabs */

.tabs-container .tab-nav {
	margin:30px 0;
}

.tabs-container .tab-nav > a {
	display: inline-block;
	padding:15px;
	margin-right: 20px;
}

.tabs-container .tab-nav > a.active {
	padding:15px;
	border-top:3px solid #22c0e8;
	color:#2f2f2f;
	margin-right: 20px;
}

.tabs-container .tab-holder .tab {
	width:100%;
}

table {
	font-family:'Varela Round';
}

table td {
	line-height:50px !important;
}

td img {
	margin-right:20px;
}

.tag {
	background: white;
	border:1px solid #b9bfc0;
	display:inline-block;
	padding:2px 10px;
	border-radius:5px;
	margin:10px 0;
	line-height: 1;
	transition:all 0.3s ease;
}

.tag:hover {
	border-color:#65be3e;
	background: #65be3e;
	color:white;
}

.employers .worker-header:nth-child(even) {
	background:white !important;
}

.worker-img {
	width:45px;
	height:45px;
	border-radius:50%;
}

.worker-mid-pic {
	width:80%;
	border-radius:50%;
}

.employer-pic {
	width:100%;
	margin-bottom:20px;
}

@media(max-width:768px) {
	.employer-pic {
		width:60%;
	}
}

.fullscreen-pic  {
	width:100%;
}

.nav li > a > .pill {
	margin-left:5px;
	width:30px !important;
}

.social-link.facebook:hover {color:#507cbe;}
.social-link.twitter:hover {color:#63cdf1;}
.social-link.google-plus:hover {color:#4d4f54;}
.social-link.link:hover {color:#65be3e;}

.pill {
	display:inline-block;
	padding:4px 4px;
	height:18px;
	line-height:12px;
	text-align: center;
	border-radius:30px;
	color:white;
}

.pill.medium {
	padding:4px 10px;
	height:22px;
	font-size:12px;
	line-height: 16px;
}

.btn-apply {
	margin-top:-5px;
}

.testimonial-box {

}

.testimonial-box {
	position: relative;
	background: #eeeeee;
	border: 2px solid #dbe2e9;
	text-align: center;
	padding:15px;
	width:80%;
	border-radius:5px;
	margin:0 auto;
}
.testimonial-box:after, .testimonial-box:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.testimonial-box:after {
	border-color: rgba(238, 238, 238, 0);
	border-top-color: #eeeeee;
	border-width: 10px;
	margin-left: -10px;
}
.testimonial-box:before {
	border-color: rgba(219, 226, 233, 0);
	border-top-color: #dbe2e9;
	border-width: 10px;
	margin-left: -10px;
}

img.testimonial-client {
	width:80px;
	border:2px solid #8997a7;
	margin:25px 0;
}

img.client {
	margin:20px;
}

a.sup {
	color:white;
	display:inline-block;
	width:25px;
	text-align:center;
	border-radius:50%;
	height:25px;
	line-height:25px;
	position:absolute;
	top:0;
}

.sidebar-people a.person {
	display:inline-block;
	height:100%;
	width:100%;
}

.sidebar-people a.sup {
	right:10px;
}

.sidebar-people img {
	width:100%;
}

/* Columns !columns */

.left-column {
    width: 80px;
    float: left;
    clear:none;
}

.right-column {
    /* the next props are meant to keep this block independent from the other floated one */
    width: auto;
    overflow: hidden;
    clear:none;
}

.checks label{background-image:url(http://csscheckbox.com/checkboxes/lite-cyan-check.png);}

.checks label[for="fader"] {
	background:none;
}

.distance {
	color:##001C49;
}

input[type=checkbox].css-checkbox {
	  position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}

input[type=checkbox].css-checkbox + label {
	padding-left:20px;
	height:15px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:14px;
	font-weight:500;
	vertical-align:middle;
	cursor:pointer;
	margin-right:30px;
}

input[type=checkbox].css-checkbox:checked + label {
	background-position: 0 -15px;
}

.price-table {
	position:relative;
	overflow:hidden;
	width:100%;
}

/* Price Tables !price */

.price-table:hover hr { background: #fb4848; }
.price-table:hover:before { background: #fb4848; }
.price-table:hover .btn { background: #fb4848; }

.price-table:before {
	content:' ';
	background:#22c0e8;
	position: absolute;
	width:70px;
	height:70px;
	z-index:-1;
	transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
	top:-35px;
	left:-35px;
	transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
}

.price-table ul { list-style-type:none; margin-top:40px; padding:0;}
.price-table li { margin:15px 0; }

.price-table .price .value { font-size:52px; font-weight:700; }
.price-table .price .month { font-size:24px; }

label {
	font-size:14px;
	font-weight:500;
	margin:0 10px;
}

.author {
	margin:50px 0;
	position:relative;
	overflow:hidden;
}
.author:before {
	content:' ';
	background:#22c0e8;
	position: absolute;
	width:70px;
	height:70px;
	z-index:2;
	transform: rotate(45deg);
	bottom:-35px;
	right:-35px;
	transition: all 0.3s ease;
}
.author:after {
	content:' ';
	background:#22c0e8;
	position: absolute;
	width:50px;
	height:50px;
	z-index:-1;
	transform: rotate(45deg);
	bottom:-25px;
	right:-25px;
}

.author img {
	border-radius:50%;
	width:80px;
	float:left;
}

.author .content {
	margin-left:100px;
}

.description {
}
.description:after {
	content:' ';
	display:block;
	width:100%;
	margin:40px 0 20px 0;
	border-bottom:1px solid #ccc;
}

/* Comments !comments */

.comments {
	margin:50px 0;
}

.comments .comment img {
	border-radius:50%;
	width:80px;
	float:left;
}

.comments .comment.nested {
	margin-left:100px;
}

.comments .comment {
	margin:50px 0;
}

.comments .comment .content {
	margin-left:100px;
}

/* Timeline */

ul.timeline {
	list-style-type:none;
	position:relative;
}

ul.timeline:before {
	content: ' ';
	background:#d4d9df;
	display:inline-block;
	position:absolute;
	left:29px;
	width:2px;
	height:100%;
	z-index:400;
}

ul.timeline > li {
	margin:20px 0;
	padding-left:20px;
}

ul.timeline > li:before {
	content: ' ';
	background:white;
	display:inline-block;
	position:absolute;
	border-radius:50%;
	border:3px solid #22c0e8;
	left:20px;
	width:20px;
	height:20px;
	z-index:400;
}

/* Blog Posts !blog */

.blog-post .blog-header {
	margin-top:40px;
	margin-bottom:30px;
	width:100%;
}

.blog-post .info {
	border-bottom:1px solid #d9dde2;
	padding-bottom:30px;
	margin-bottom:30px;
}

.blog-post .info a {
	margin-right:30px;
}

.social-widget a {
	width:35px;
	height:35px;
	line-height:35px;
	margin:15px 15px 0 0;
	text-align:center;
	border-radius:5px;
	color:white;
	display:inline-block;
}
.social-widget a:hover {
	opacity:0.8;
}
.social-widget .facebook { background:#507cbe;}
.social-widget .twitter { background:#63cdf1;}
.social-widget .dribbble { background:#d97aa6;}
.social-widget .instagram { background:#90cadd;}
.social-widget .pinterest { background:#f16261;}
.social-widget .google-plus { background:#4d4f54;}
.social-widget .deviantart { background:#95a696;}
.social-widget .youtube { background:#f16261;}
.social-widget .vine { background:#1aace3;}
.social-widget .behance { background:#1aace3;}
.social-widget .blogger { background:#fcc95d;}
.social-widget .tumblr { background:#4d7ea3;}

/* Accordion !accordion */

.accordions .accordion {
}

.accordions > .accordion a.heading {
	display:inline-block;
	width:100%;
	margin-bottom:10px;
	margin-left:20px;
}

.accordions > .accordion a.heading:before {
	content: '+';
	font-family: 'Varela Round';
	width:40px;
	height:40px;
	border-radius:50%;
	margin-right:20px;
	font-size:20px;
	text-align:center;
	line-height:40px;
	margin-top:8px;
	display:inline-block;
	float:left;
	color:white;
	background:#9faab6;
	transition:all 0.3s ease;
}

.accordions > .accordion.active a.heading:before {
	content:'-';
	background:#22c0e8;
}

.accordions > .accordion .content {
	margin-left:80px;
}

.spec .content {
	margin-top:-15px;
	margin-left:80px;
}

.spec .spec-icon {
	float:left;
	font-size:21px;
	background:#22c0e8;
	color:white;
	display:inline-block;
	height:60px;
	width:60px;
	text-align:center;
	line-height:60px;
	border-radius:50%;
	transition:all 0.3s ease;
}

.spec .spec-icon:hover {
	background:#fb4848;
}

.counter {
	color:#2c4057;
	font-weight: 700;
	font-family: 'Montserrat', 'Varela Round';
	font-size:48px;
}

 /* Footer !footer */

footer {
	padding:60px 0;
	padding-bottom:0;
	background:#373e46;
}

footer .heading {
	color:white;
}

footer a {
	display: block;
	margin:10px 0;
}

footer a:hover {
	color:white;
}

footer .bottom {
	background:#565f69;
}

footer .bottom .column-bottom {
	padding:10px 0;
}

footer p {
	color:white;
}

footer img.logo-white {
	height:23px;
	margin-bottom:20px;
}

footer .twitter-feed:before {
	content:"\f099";
	font-family: "FontAwesome";
	color:#2ddbf5;
	font-size:18px;
	display: inline-block;
	position: relative;
	left:-30px;
	top:30px;
}

footer .twitter-feed {
	position: relative;
	padding-right: 30px;
	width:auto;
	top:-20px;
	left:30px;
	color:white;
}

footer input.form-control {
	background:#586068;
}


/** 15 december 2016**/
@media (min-width:767px){
 .navbar-collapse .navbar-right li:hover .dropdown-menu {display: block;}   
    
}

.nav-tabs {border-bottom: none !important;}
.nav-tabs > li > a{border-top: 3px solid #fff !important;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {border: none !important;border-top: 3px solid #22c0e8 !important;
                                                                                             color: #2f2f2f;margin-right: 0px; border-radius: 0; }
.navbar-right .dropdown .dropdown-menu {margin-top: -12px;}

.accordions .panel-default > .panel-heading {background-color: #fff;border-color: #fff;}
.accordions .panel-default {border-color: #fff;}
.panel {border:none;box-shadow:none;-webkit-box-shadow: none;}
.accordions .panel-default > .panel-heading .panel-title a {color: #8997a7;
font-family: 'Varela Round';
transition: all 0.3s ease;
font-size: 14px;
line-height: 1.42857143;}
.accordions .panel-group .panel-heading + .panel-collapse > .panel-body {border-top: none ;}
.accordions .panel-default > .panel-heading .panel-title a.heading.collapsed:before {content: '+';
font-family: 'Varela Round';
width: 40px;
height: 40px;
border-radius: 50%;
margin-right: 20px;
font-size: 20px;
text-align: center;
line-height: 40px;
margin-top: 8px;
display: inline-block;
color: white;
background: #9faab6;
transition: all 0.3s ease;}

.accordions .panel-default > .panel-heading .panel-title a.heading:before {content: '-'; background-color: #22c0e8;font-family: 'Varela Round';
width: 40px;
height: 40px;
border-radius: 50%;
margin-right: 20px;
font-size: 20px;
text-align: center;
line-height: 40px;
margin-top: 8px;
display: inline-block;
color: white;
transition: all 0.3s ease;}

.nav-tabs > li > a:hover {
    border-color: #fff !important;
    background-color: #fff !important;
}

.checks #fader {padding-top: 12px;}
.owl-header .owl-controls .owl-buttons {left: auto !important; text-align: right;}

